<ion-header-bar class="bar-positive">
    <h1 class="title">Scan
        <span ng-bind="branch_name"></span>
    </h1>
</ion-header-bar>
<ion-view title="Scan" hide-nav-bar="true">
    <ion-content class="has-header padding">
        <form ng-submit="click(ean_code)">
            <label class="item item-input">
                <span class="input-label">EAN Code</span>
                <input type="text" ng-model="ean_code">
            </label>
            <div>
                <button style="border-radius: 7px; width:100%; margin-left:auto; margin-right: auto;" class="button button-positive" type="submit">
                    Click to Scan
                </button>
            </div>
        </form>
        <div style="margin-top: 5px;" ng-bind-html="message"></div>

        <div style="margin-top: 5px;" ng-show="message.length!=0">
            <button style="border-radius: 7px; width:100%; margin-left:auto; margin-right: auto;" class="button button-positive" ng-click="clear()">
                Clear Message
            </button>
        </div>

    </ion-content>
</ion-view>
