<ion-view title="About">
    <ion-content class="has-header padding">
        <div style="margin-top: 5px;">&nbsp;</div>
        <p>
            This app is used to scan a product from the branch database.
        </p>
        <p>You may need to set the branch first so the app knows which server to connect to.</p>
        <p>
            To scan, click the scan button and point your phone camera at the barcode. It will automatically detect it and display the product information.
        </p>
        <p>
            If you have any problem please log a job with itsupport@powerspeed.co.zw
        </p>
    </ion-content>
</ion-view>
